.banner {
    background-color: #f6f6f6;
    height: 18rem;
    text-align: center;
    padding: 0 1rem;

    &__title {
        padding: 3rem 3rem 1rem;
    }

    &__subtitle {
        padding-bottom: 2rem;
        font-weight: 200;
    }
}
