.logo-container {
    height: 4rem;
    position: relative;

    &__logo {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    &__back-button {
        position: absolute;
        left: 1rem;
        font-size: 1.5rem;
        top: calc(50% - 1rem);

        &:hover {
            color: map-get($colors, "primary");
        }
    }
}

.location {
    height: 3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #cfcfcf;
    background: linear-gradient(180deg, #cfcfcf 0%, #e0e0e0 40%, #eaeaea 90%, #eaeaea 100%);
    color: #353535;

    &__container {
        &__icon {
            height: 1rem;
        }
    }
}

.banner {
    background-color: #f6f6f6;
    height: 18rem;
    text-align: center;
    padding: 0 1rem;

    &__title {
        padding: 3rem 3rem 1rem;
    }

    &__subtitle {
        padding-bottom: 2rem;
        font-weight: 200;
    }
}

.instructions {
    padding: 0.75rem 0.75rem 3rem;

    &__title {
        padding: 2rem 0 1rem;
    }

    &__field {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        &__container {
            max-width: 700px;
            position: relative;

            @media screen and (min-width: 768px) {
                margin-left: 2rem;
            }
        }

        &__badge {
            color: white;
            background-color: map-get($colors, "primary");
            font-size: 0.75rem;
            width: 0.75rem;
            text-align: center;
            padding: 0.25rem;
            border-radius: 100%;
            position: absolute;
            left: 0.5rem;
        }

        &__button {
            background-color: #f6f6f6;
            width: 100%;
            margin: 1rem;
            padding: 1.5rem 1.5rem;
            border-radius: 1rem;
            box-shadow: 0px 3px 5px 2px #eaeaea;

            &__icon {
                margin-right: 1.5rem;
                color: #7e7e7e;

                &--is-primary {
                    color: map-get($colors, "primary");
                }
            }
        }
    }
}
