.instructions {
    padding: 0.75rem 0.75rem 3rem;

    &__title {
        padding: 2rem 0 1rem;
    }

    &__field {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        &__container {
            max-width: 700px;
            position: relative;

            @include for-device(small) {
                transform: scale(1);
                transition: transform 200ms ease-in-out;

                &:hover {
                    transform: scale(1.05);
                }
            }

            @include for-device-gt(small) {
                margin-left: 2rem;
                transform: translate(0, 0);
                transition: transform 200ms ease-in-out;

                &:hover {
                    transform: translate(2vw, 0);
                }
            }
        }

        &__badge {
            color: white;
            background-color: map-get($colors, "primary");
            font-size: 0.75rem;
            width: 0.75rem;
            text-align: center;
            padding: 0.25rem;
            border-radius: 100%;
            position: absolute;
            left: 0.5rem;
        }

        &:hover &__badge {
            background-color: map-get($primary, 400);
            transform: background-color;
        }

        &__panel {
            background-color: #f6f6f6;
            width: 100%;
            margin: 1rem;
            padding: 1.5rem 1.5rem;
            border-radius: 1rem;
            box-shadow: 0px 3px 5px 2px #ccc;

            &__icon {
                margin-right: 1.5rem;
                color: #7e7e7e;

                &--is-primary {
                    color: map-get($colors, "primary");
                }
            }
        }

        &:hover &__panel {
            box-shadow: 0px 3px 5px 2px map-get($primary, 200);
        }

        &:hover &__panel__icon--is-primary {
            color: map-get($primary, 400);
            transform: color;
        }
    }
}
