@import "../utils/colors";

.button {
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding: 1rem 1.5rem;
    border-radius: 3rem;
    color: white;
    text-align: center;
    font-size: 0.75rem;
    font-weight: 700;
    z-index: 0;
    @include color-gradient;

    &::after {
        content: "";
        border-radius: 3rem;
        @include color-gradient(map-get($primary, 500), map-get($secondary, 500));
        box-shadow: 1px 1px 3px 2px map-get($primary, 300);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        z-index: -1;
        transition: opacity 400ms;
    }

    &:hover {
        &::after{
            opacity: 1;
        }
    }
}

.like-button {
    position: relative;
    color: #777;
    z-index: 0;

    &__filled {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        font-weight: 600;
        color: map-get($colors, "primary");
        transform: scale(0);
        transition: transform 300ms ease-in-out;
    }

    &:hover &__filled{
        transform: scale(1);
    }
}