<div class="location">
    <div class="location__container">
        <i class="fas fa-map-marker-alt"></i>
        <span class="location__container__span"><%- header.location %></span>
    </div>
</div>
