@import "./palette-utils";

$primary: makeColorPalette(#9356dc);
$secondary: makeColorPalette(#ff79da);
$tertiary: makeColorPalette(#99e2d0);

$colors: (
    "primary": map-get($primary, 700),
    "secondary": map-get($secondary, 700),
    "tertiary": map-get($tertiary, 700)
);

@mixin color-gradient($from: map-get($secondary, 800), $to: map-get($primary, 800)) {
    background: linear-gradient(170deg, $from 0%, $to 90%);
}
