<footer class="footer">
    <div class="footer__logo">ohmyfood</div>
    <div class="footer__nav">
        <ul>
            <li class="footer__nav__item">
                <a href="#" class="footer__nav__item__link">
                    <i class="footer__nav__item__link__icon fas fa-utensils"></i>
                    Proposer un restaurant
                </a>
            </li>
            <li class="footer__nav__item">
                <a href="#" class="footer__nav__item__link">
                    <i class="footer__nav__item__link__icon fas fa-hands-helping"></i>
                    Devenir partenaire
                </a>
            </li>
            <li class="footer__nav__item">
                <a href="https://fontawesome.com/license" class="footer__nav__item__link">
                    Mentions légales
                </a>
            </li>
            <li class="footer__nav__item">
                <a href="mailto:contact@ohmyfood.com" class="footer__link">Contact</a>
            </li>
        </ul>
    </div>
</footer>
