<header class="logo-container">
    <% if (backButton) { %>
    <a href="/" class="logo-container_back-button"><i class="fas fa-arrow-left"></i></a>
    <% } %>
    <div class="logo-container__logo logo">
        <picture>
            <source srcset="./images/logo/ohmyfood@2x.svg" type="image/svg+xml" />
            <img src="./images/logo/ohmyfood.png" alt="Ohmyfood!" title="Accueil" />
        </picture>
    </div>
</header>
