<section class="banner">
    <h1 class="banner__title">Réserver le menu qui vous convient</h1>
    <p class="banner__subtitle">
        Découvrez des restaurants d'exceptions, sélectionés par nos soins.
    </p>
    <a class="banner__button" href="#RestaurantList">Explorez nos restaurants</a>
</section>
