<div class="load-spinner">
    <i class="fas fa-spinner"></i>
</div>
<main class="restaurant-list">
    <h2 class="restaurant-list__title" id="RestaurantList">Restaurants</h2>
    <div class="restaurant-list__container">
        <% main.restaurants.forEach(restaurant => { %>
        <!-- Restaurant card -->
        <%- include("restaurant-card", {restaurant}) %>
        <!-- End restaurant card -->
        <% }); %>
    </div>
</main>
