<div class="instructions">
    <h2 class="instructions__title">Fonctionnement</h2>
    <div class="instructions__field__container">
        <div class="instructions__field">
            <span class="instructions__field__badge">1</span>
            <p class="instructions__field__button">
                <i class="instructions__field__button__icon fas fa-mobile-alt"></i>
                <span class="instructions__field__button__text">Choisissez un restaurant</span>
            </p>
        </div>
    </div>
    <div class="instructions__field__container">
        <div class="instructions__field">
            <span class="instructions__field__badge">2</span>
            <p class="instructions__field__button">
                <i class="instructions__field__button__icon fas fa-list-ul"></i>
                <span class="instructions__field__button__text">Composez votre menu</span>
            </p>
        </div>
    </div>
    <div class="instructions__field__container">
        <div class="instructions__field">
            <span class="instructions__field__badge">3</span>
            <p class="instructions__field__button">
                <i
                    class="instructions__field__button__icon instructions__field__button__icon--is-primary fas fa-store"
                ></i>
                <span class="instructions__field__button__text">Déguster au restaurant</span>
            </p>
        </div>
    </div>
</div>
