<header class="logo-container">
    <% if (backButton) { %>
    <a href="./index.html" class="logo-container__back-button"><i class="fas fa-arrow-left"></i></a>
    <% } %>
    <div class="logo-container__logo logo">
        <a href="./index.html">
            <picture>
                <source srcset="./images/logo/ohmyfood@2x.svg" type="image/svg+xml" />
                <img src="./images/logo/ohmyfood.png" alt="Ohmyfood!" title="Accueil" />
            </picture>
        </a>
    </div>
</header>
