.meal {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 1rem auto;
    background-color: white;
    border-radius: 1rem;
    max-width: 750px;

    &__text {
        min-width: 0;
        overflow: hidden;
    }

    &__name {
        font-weight: 500;
        font-size: 0.875rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        flex-shrink: 1;
    }

    &__desc {
        font-weight: 300;
        font-size: 0.8rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        flex-shrink: 1;
    }

    &__price {
        align-self: end;
        font-size: 0.8rem;
        font-weight: 600;
    }
}
