.meal {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 1rem;
    max-width: 750px;
    box-shadow: 0px 3px 5px 2px #ccc;
    margin: 1rem;
    overflow: hidden;
    opacity: 0;

    &__info-container {
        display: grid;
        width: 100%;
        grid-template: 1fr / 5fr 1fr;
        margin: 0.5rem 0;
    }

    &__text {
        padding: 0 1rem;
        min-width: 0;
        overflow: hidden;
    }

    &__name {
        font-weight: 500;
        font-size: 0.875rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        flex-shrink: 1;
    }

    &__desc {
        font-weight: 300;
        font-size: 0.8rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        flex-shrink: 1;
    }

    &__price {
        font-size: 0.8rem;
        font-weight: 600;
        text-align: right;
        margin: auto 1rem;
    }

    &__ordered {
        display: inline-block;
        overflow: hidden;
        width: 0;
        height: 100%;
        color: white;
        background-color: map-get($tertiary, 500);
        transform-origin: right;
        transition: width 500ms ease-in-out;
        text-align: center;
        flex-shrink: 1;
        font-size: 1.2rem;
        padding: 1rem 0;

        & > i {
            transform: rotate(0);
            transition: transform 600ms ease-out;
        }
    }

    &:hover .meal__ordered {
        width: 20%;

        & > i {
            transform: rotate(2turn);
        }
    }
}

@keyframes meal-entering {
    0% {
        transform: scale(0.8) translateY(100%);
        opacity: 0;
    }

    100% {
        transform: scale(1) translateY(0%);
        opacity: 1;
    }
}

@mixin meal-entering-animation($delay: 0ms) {
    animation: meal-entering 500ms ease-in-out $delay forwards;
}

$sections: (
    "starters": 0ms,
    "dishes": 600ms,
    "desserts": 1200ms
);

@each $section, $delay in $sections {
    .menu-section--#{$section} {
        .meal[data-meal-index='0'] {
            @include meal-entering-animation($delay);
        }

        .meal[data-meal-index='1'] {
            @include meal-entering-animation($delay + 200ms);
        }

        .meal[data-meal-index='2'] {
            @include meal-entering-animation($delay + 400ms);
        }
    }
}